* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif ;
}

form {
    text-align: center;
}

body {
    background-color: #b7c1ac;
}

.button {
    text-align: center;
}

.forgot {
    text-align: center;
}

.button {
    background-color: #eb9532;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 10px;
    border-radius: 20%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}