* {
    margin: 0;
    padding: 0;
}

h1 {
    margin: auto;
    width: 20%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
}

form {
    text-align: center;
    margin: 30px;
}

body {
    background-color: #b7c1ac;
}

.button {
    text-align: center;
}

.forgot {
    text-align: center;
}

.button {
    background-color: #eb9532;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 10px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.userbox {
    padding: 10px;
}